
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --cor-primaria: #F6F5F5;
    --cor-secundaria: #FFE3CA;
    --cor-terciaria: #EE99C2;
    --cor-quartearia: #0C359E;

    --fonte-principal: 'Press Start 2P', system-ui;
    --fonte-secundaria: "Source Code Pro", monospace;
}
.icon {
    color: #EE99C2;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-secundaria);
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

button {
    cursor: pointer;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-quartearia);

}
.cabecalho__menu {
    display: flex;
    align-items: center;
}

.cabecalho__menu__links {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 600;
    padding: 15px;
    transition: 1.5s;

}

.cabecalho__menu__links:hover {
    color: var(--cor-primaria);
    border-width: 1px; 
    border-style:dashed; 
    border-radius: 50px;
    border-color:  var(--cor-terciaria);
    transition: 1.5s;

}

.apresentacao {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.apresentacao__input {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.alerta__alerta {
    /* font-family: var(--fonte-secundaria); */
    color: var(--cor-terciaria);
    display: flex;
    font-family: var(--fonte-secundaria);


}
#mensagem {
    background-color: var(--cor-secundaria);
    width: 40rem;
    height: 20rem;
    border: none;
    padding: 15px;
    border-radius: 15px;
    max-width: 900px;
    max-height: 400px;
    min-width: 900px;
    min-height: 400px;


}

.alerta {
    display: flex;
    padding: 10px;
    justify-content: start;

}

.apresentacao__links {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.botao_criptografar {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    width: 320px;
    text-align: center;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
    transition: 1s;
}
.botao_criptografar:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 340px;
    font-size: 23px;
    transition: 1s;
}

.botao_descriptografar {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    width: 320px;
    text-align: center;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
    transition: 1s;
}
.botao_descriptografar:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    width: 340px;
    font-size: 23px;
    transition: 1s;
}

.apresentacao__resultado {
    background-color: var(--cor-terciaria);
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;
    height: 500px;
    border-radius: 15px;   
}

#imagem_ilustrativa {
    height: 250px;
}

.atencao {
    color: var(--cor-quartearia);

    
}
.notificacao {
    position: fixed;
    top: 10px;
    right: 50px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    display: none;

}

#botao__copiar:not([hidden]) {
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    width: 320px;
    text-align: center;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
    transition: 1s;
}
#botao__copiar:not([hidden]):hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    width: 340px;
    font-size: 23px;
    transition: 1s;

}

.rodape {
    padding: 10px;
    color: var(--cor-primaria);
    background-color: var(--cor-quartearia);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
}
.rodape__rodape{
    font-family: var(--fonte-principal);

}



